In [1]:
import pandas as pd
import seaborn as srs
import statistics as sts

In [2]:
#faz a leitura dos dados.
dataset = pd.read_csv("tempo.csv", sep=";")
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [3]:
#mostra onde existem dados NA(NULOS)
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [4]:
#agrupa os dados e me mostra a quantidade de cada valor dentro da coluna
agrupado = dataset.groupby(['Umidade']).size()
agrupado

Umidade
65.0     1
70.0     3
75.0     1
80.0     1
85.0     1
86.0     1
90.0     2
91.0     1
95.0     1
200.0    1
dtype: int64

In [5]:
#descreve a coluna
dataset['Umidade'].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [6]:
#atribui o valor da mediana para a variavel mediana
mediana = sts.median(dataset['Umidade'])
mediana

85.5

In [34]:
#substitui os valores fora do Escopo do projeto que sao de 0 ~ 100
dataset.loc[(dataset['Umidade'] < 0) | (dataset['Umidade'] > 100 ), 'Umidade'] = mediana
agrupado = dataset.groupby(['Umidade']).size()
agrupado

Umidade
65.0    1
70.0    3
75.0    1
80.0    1
85.0    1
85.5    2
86.0    1
90.0    2
91.0    1
95.0    1
dtype: int64

In [7]:
#Substitui o valor NA pelo valor da mediana
dataset['Umidade'].fillna(mediana, inplace=True)

In [8]:
#verifica se existe mais algum valor nulo (NA)
dataset ['Umidade'].isnull().sum()

0

In [9]:
#mostra onde existem dados NA(NULOS) porem apos o tratamento da coluna umidade, ja nao existem dados nulos na coluna UMIDADE
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          1
Jogar          0
dtype: int64

In [35]:
#agrupa os dados e me mostra a quantidade de cada um dentro da coluna
agrupado = dataset.groupby(['Vento']).size()
agrupado

Vento
FALSO         8
VERDADEIRO    6
dtype: int64

In [17]:
#Preenche o valor NA com o valor da moda (O valor mais popular)
dataset['Vento'].fillna('FALSO', inplace=True)
agrupado = dataset.groupby(['Vento']).size()
agrupado

Vento
FALSO         8
VERDADEIRO    6
dtype: int64

In [18]:
#mostra onde existem dados NA(NULOS) porem apos o tratamento da coluna vento, ja nao existem dados nulos na coluna VENTO e nem em nenhuma outra.
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

In [36]:
#Mostra todos os valores e quantas vezes foram inseridos em aparencia
agrupado = dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [42]:
#substitui os dados e valores fora do escopo do projeto (Menos) para Sol
dataset.loc[dataset['Aparencia'].isin( ['menos']), 'Aparencia'] = "sol"
agrupado = dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

In [44]:
#Mostra todos os valores e quantas vezes foram inseridos em temperatura
agrupado = dataset.groupby(['Temperatura']).size()
agrupado

Temperatura
64      1
65      1
68      1
69      1
70      1
71      1
72      1
75      2
80      1
81      1
83      1
85      1
1220    1
dtype: int64

In [45]:
#atribui o valor mediano para a variavel mediana
mediana = sts.median(dataset['Temperatura'])
mediana

73.5

In [46]:
#substitui os dados fora do escopo da temperatura pelo valor da mediana
dataset.loc[(dataset['Temperatura'] < -130) | (dataset['Temperatura'] > 130 ), 'Temperatura'] = mediana
agrupado = dataset.groupby(['Temperatura']).size()
agrupado

Temperatura
64.0    1
65.0    1
68.0    1
69.0    1
70.0    1
71.0    1
72.0    1
73.5    1
75.0    2
80.0    1
81.0    1
83.0    1
85.0    1
dtype: int64

In [47]:
#exibe os dados da coluna jogar
agrupado = dataset.groupby(['Jogar']).size()
agrupado

Jogar
nao    5
sim    9
dtype: int64

In [48]:
#exibe o cabeçalho 
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol         85.0     85.0       FALSO   nao
1       sol         80.0     90.0  VERDADEIRO   nao
2   nublado         83.0     86.0       FALSO   sim
3     chuva         70.0     85.5       FALSO   sim
4     chuva         68.0     80.0       FALSO   sim